body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

@media only screen and (min-width: 320px) {

    header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .nav {
        background-color: white;
        top: 0;
        padding-top: .5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
    }
    .fa-pinterest {
        color: #db2238;
        padding: 15px;
        font-size: 24px;
    }
    .fa-search {
        font: 6px;
        position: relative;
        top: 0;
        color: #666;
    }

    .fa-bell,
    .fa-comment-dots,
    .fa-user-circle,
    .fa-search {
        color: #666;
        padding: 15px;
        font-size: 24px;
    }
    .fa-fort-awesome-alt {
        color: rgb(15, 14, 14);
        padding: 15px;
        font-size: 24px;
    }

    .fa-chevron-down {
        color: #666;
        padding: 7.5px;
        font-size: 14px;
    }
    .following {
        display: none;
    }

    a {
        text-decoration: none;
        border: none;
        color: black;
        font-family: Helvetica,
        sans-serif;
        font-size: 1rem;
        font-weight: bold;
        }

        a:hover {
            text-decoration: none;
        border-radius: 60px;
        padding: 15px;
        border: none;
        color: black;
        background-color: white;
        font-family: Helvetica,
        sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }

    .gallery {
        padding: 0 1em 0 1em;
        column-count: 2;
        padding-top: 120px;
        z-index: 1;
    }

    img {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    footer {
        background: white;
        border-radius: 60px;
        position: fixed;
        bottom: 1rem;
        left: 22%;
        -webkit-box-shadow: 0px 5px 14px -4px #000000;
        box-shadow: 0px 5px 14px -4px #000000;
        }

        .footer-style {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-color: #666;
    }
       .main__input {
           margin-left: .5rem;
           position: relative;
       }

       .main__form {
           max-width: 584px;
           margin: 0 auto;
       }

       .form__group {
           position: relative;
           display: flex;
           align-items: center;
           height: 44px;
           width: 100%;
           border: 1px solid #dfe1e5;
           border-radius: 24px;
           padding: 5px 8px 0 16px;
       }

       .form__group:hover {
           box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
           border-color: rgba(223, 225, 229, 0);
       }

       .form__logo--search {
           height: 100%;
           display: flex;
           align-items: center;
           justify-content: center;
           margin-top: -5px;
           margin-right: 7px;
       }

       .form__logo--search svg {
           height: 20px;
           width: 20px;
           fill: var(--color-gray-400);
       }

       .form__input {
           height: 100%;
           flex: 1;
       }

       .form__input input {
           border: none;
           width: 100%;
           height: 100%;
           font-size: 16px;
           margin-top: -3px;
           color: #101010;
       }

       .form__input input:focus {
           outline: none;
       }

       .form__logo--mic {
           height: 100%;
           width: 30px;
           display: flex;
           align-items: center;
           justify-content: center;
           margin-top: -5px;
           margin-right: 7px;
       }

       .form__logo--mic svg {
           height: 24px;
           width: 24px;
       }

       }

@media only screen and (min-width: 568px) {
    nav {
        z-index: 3;
    }

    .fa-pinterest {
        color: #db2238;
        padding: 15px;
        font-size: 2em;
    }

    .gallery {
        column-count: 3;
        padding-top: 120px;
    }
    footer {
        background: white;
        border-radius: 60px;
        position: fixed;
        bottom: 1rem;
        left: 30%;
    }

    .footer-style {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-color: #666;
    }

    .fa-bell,
    .fa-comment-dots,
    .fa-user-circle,
    .fa-search {
        color: #666;
        padding: 15px;
        font-size: 2em;
    }

    .fa-fort-awesome-alt {
        color: rgb(15, 14, 14);
        padding: 15px;
        font-size: 2.5em;
    }
    a {
        text-decoration: none;
        border: none;
        color: black;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }

    a:hover {
        background: black;
        color: white;
    }

    .main__input {
        margin-left: .5rem;
        position: relative;
    }

    .main__form {
        max-width: 584px;
        margin: 0 auto;
    }

    .form__group {
        position: relative;
        display: flex;
        align-items: center;
        height: 44px;
        width: 100%;
        border: 1px solid #dfe1e5;
        border-radius: 24px;
        padding: 5px 8px 0 16px;
    }

    .form__group:hover {
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        border-color: rgba(223, 225, 229, 0);
    }

    .form__logo--search {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5px;
        margin-right: 7px;
    }

    .form__logo--search svg {
        height: 20px;
        width: 20px;
        fill: var(--color-gray-400);
    }

    .form__input {
        height: 100%;
        flex: 1;
    }

    .form__input input {
        border: none;
        width: 100%;
        height: 100%;
        font-size: 16px;
        margin-top: -3px;
        color: #101010;
    }

    .form__input input:focus {
        outline: none;
    }

    .form__logo--mic {
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5px;
        margin-right: 7px;
    }

    .form__logo--mic svg {
        height: 24px;
        width: 24px;
    }

    }

@media only screen and (min-width: 768px) {

    nav {
        z-index: 3;
    }

    .gallery {
        padding: 0 1em 0 1em;
        column-count: 4;
        padding-top: 120px;
        z-index: 1;
    }
    
    .fa-bell,
    .fa-comment-dots,
    .fa-user-circle,
    .fa-search {
        color: #666;
        padding: 15px;
        font-size: 2.5em;
    }

    .fa-fort-awesome-alt {
        color: rgb(15, 14, 14);
        padding: 15px;
        font-size: 2.5em;
    }

    a {
        text-decoration: none;
        border: none;
        color: black;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }

    a:hover {
        background: black;
        color: white;
    }

    footer {
        background: white;
        border-radius: 60px;
        position: fixed;
        bottom: 1rem;
        left: 27.5%;
        }

    .footer-style {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-color: #666;
        margin: 2px;
    }
    .main__input {
        margin-left: .5rem;
        position: relative;
    }

    .main__form {
        max-width: 584px;
        margin: 0 auto;
    }

    .form__group {
        position: relative;
        display: flex;
        align-items: center;
        height: 44px;
        width: 100%;
        border: 1px solid #dfe1e5;
        border-radius: 24px;
        padding: 5px 8px 0 16px;
    }

    .form__group:hover {
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        border-color: rgba(223, 225, 229, 0);
    }

    .form__logo--search {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5px;
        margin-right: 7px;
    }

    .form__logo--search svg {
        height: 20px;
        width: 20px;
        fill: var(--color-gray-400);
    }

    .form__input {
        height: 100%;
        flex: 1;
    }

    .form__input input {
        border: none;
        width: 100%;
        height: 100%;
        font-size: 16px;
        margin-top: -3px;
        color: #101010;
    }

    .form__input input:focus {
        outline: none;
    }

    .form__logo--mic {
        height: 100%;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5px;
        margin-right: 7px;
    }

    .form__logo--mic svg {
        height: 24px;
        width: 24px;
    }
    }

@media only screen and (min-width: 1024px) {

    .gallery {
        column-count: 5;
        z-index: 1
    }
    .fa-bell,
    .fa-comment-dots,
    .fa-user-circle,
    .fa-search {
        color: #666;
        padding: 15px;
        font-size: 2em;
        }

    .fa-fort-awesome-alt {
        color: rgb(15, 14, 14);
        padding: 15px;
        font-size: 2em;
    }

    a {
        text-decoration: none;
        border: none;
        color: black;
        font-family: Helvetica, sans-serif;
        font-size: 1rem;
        font-weight: bold;
    }

    a:hover {
        background: black;
        color: white;
    }

    .fa-pinterest {
        color: #db2238;
        padding: 15px;
        font-size: 2em;
    }
    .following {
        color: #666;
        display: block;
        font-size: 1em;
    }

    footer {
        background: white;
        border-radius: 60px;
        position: fixed;
        margin: 2px;
        bottom: 1rem;
        left: 45%;
    }

    .footer-style {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-color: #666;
    }

    .main__input {
        margin-left: .5rem;
        position: relative;
    }

    .main__form {
        max-width: 584px;
        margin: 0 auto;
    }

    .form__group {
        position: relative;
        display: flex;
        align-items: center;
        height: 44px;
        width: 100%;
        border: 1px solid #dfe1e5;
        border-radius: 24px;
        padding: 5px 8px 0 16px;
    }

    .form__group:hover {
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        border-color: rgba(223, 225, 229, 0);
    }

    .form__logo--search {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5px;
        margin-right: 7px;
    }

    .form__logo--search svg {
        height: 20px;
        width: 20px;
        fill: var(--color-gray-400);
    }

    .form__input {
        height: 100%;
        flex: 1;
    }

    .form__input input {
        border: none;
        width: 100%;
        height: 100%;
        font-size: 16px;
        margin-top: -3px;
        color: #101010;
    }

    .form__input input:focus {
        outline: none;
    }

}